# {{ ansible_managed }}
# Frontend configuration for {{ item['name'] }}
frontend {{ item['name'] }}
  bind {{ item['address'] }}:{{ item['port'] }}
  mode {{ item['mode'] }}
  default_backend {{ item['backend'] }}

